.card{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px
}
.footer {
    margin-top: 80px;
    background: rgb(27, 27, 227);
    height: 50vh;
    color: white;
    display: flex;
   flex-direction: column;
}
.footer a{
   color: white;
   margin-top: 20px;
}
.nav{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 100px;
}
.footer h6{
    text-align: center;
    background: rgb(0, 0, 245);
}
.footer h5{
    text-align: center;
}
